# fly.toml app configuration file generated for ims-inventory-f25-final-frontend on 2025-11-16T19:11:45-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ims-inventory-f25-final-frontend'
primary_region = 'yyz'

[build]
  dockerfile = 'Dockerfile'


[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  REACT_APP_API_URL = "https://ims-inventory-f25-final.fly.dev/"
